body{
    background-color: #F2F2F2;
}

h1{
    font-family: "Book Antiqua", "Times New Roman", serif;
    font-size: 36px;
    text-align: center;
}

h2{
    font-family: "Book Antiqua", "Times New Roman", serif;
    font-size: 24px;
    text-align: center;
}

p{
    font-family: "Garamond", "Times New Roman", serif;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a:hover{
    background-color: #C0C0C0;
}

a:visited{
    color:#0000FF;
}
