body{
    background-color: #F2F2F2;
}

p{
    font-family: Garamond, "Times New Roman", serif;
    font-size: 24px;
    text-align: center;
}

h1{
    font-family: "Book Antiqua", "Times New Roman", serif;
    font-size: 36px;
    text-align: center;
}

img{
    vertical-align: center;
}

a:hover{
    background-color: #C0C0C0;
}

a:visited{
    color:#0000FF;
}
