#centered{
    position: absolute;
    left:50%;
    margin-left: -286px;
}

#header{
    position: absolute;
    text-align: center;
    width: 800px;
    height: 400px;
    left: 50%;
    font-family: 'Inconsolata', Arial, serif;
    font-size: 55px;
}
h1 {
    text-align: center;
}